{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "avoid",
  "endOfLine": "lf"
}


в общем смотри я во первых убрал все лишнее, чтобы только рабочее или то над чем подумать было в меню. 
На скринах красным выделял рабочие или те которые должны как я понял в первую очередь работать кнопки

Во вторых готова страница просмотра стратегий/создания стратегий, только на создании пока 404 у меня. 

А вот с портфелями чуть по грустнее, в создании я пытался делать, но он меня не пропустил из-за неверных ISIN, тот который в тексте ошибки пришел тоже не помог.
Но вроде оно отрабатывает

а вот с просмотрами портфелей модальных какая-то фигня, тоже кинул скрин там не отрабатывается один запрос и запрос portfolios/ 

Также я не совсем уверен что сделал все как надо было или все что тебе нужно в ближайшее время, так что я бы созвонился

Еще крч сайт жутко лагает, он переодически полностью память вкладки в браузере забивает, и она лагать начинает, это я решу в ближайшее время.